CONTAINER_NAME="tailscale"
TS_AUTHKEY="tskey-auth-ab1CDE2CNTRL-0123456789abcdef"
TS_HOSTNAME="my-tailscale-node"
DERP_DOMAIN="derper.crazy1226.xyz"
PANEL_APP_PORT_HTTP="8081"
PANEL_APP_PORT_HTTPS="8082"
PANEL_APP_PORT_STUN="3478"
CERTS_PATH="./certs"
