[gitea]
username = your_username
password = your_password
email = your_email@example.com

[host_panel1]
host = panel1.example.com
port = 10086
panel_token = your_panel_token
type = http

[host_panel2]
host = panel2.example.com
port = 10086
panel_token = your_panel_token
type = https